
TR {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
TD {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
TDM {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDJustificado {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
}
.TDDireita {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDDireitaB {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDEsquerda {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEsquerdaB {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEsquerdaVia {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDTitulo {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.TDCentro {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.TDCentroM {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
.TDCentroT {
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
.TDTituloCentro {
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
.TDBasePonto {
    background-color: #FFFFFF;
    border-bottom: 1px dashed #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
div.break {
    page-break-before: always;
}
.TDEDTB {
    border-color: #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDET {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETB {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDE {
    border-left: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETitulo {
    border-left: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTTitulo {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTTituloC {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDDTTitulo {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDDTTituloC {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTTituloM {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDTTitulo {
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDTUnica {
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEDCampo {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDEDCampoC {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDDCampo {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDDCampoC {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTItemC {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDD {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDED {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDEDC {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDEDM {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTitulo {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETD {
    background-color: #EFEFEF;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

#complementoAltEnd{
	width: 16%;	
}

#colExterna{
	margin-left: 0px;
	margin-top: 5px;
}

#colExterna_hidden{
	margin-left: 0px;
	margin-top: 5px;
}

#colExterna_hidden2{
	margin-left: 0px;
	margin-top: 5px;
}

#containerComplemento{
	margin-left: 1px;
}

#valorPadrao1{
	width: 100%;
}

#valorPadrao2{
	width: 100%;
}

#valorPadrao3{
	width: 100%;
}

#complPadrao1{
	width: 100%;
}

#complPadrao2{
	width: 100%;
}

#complPadrao3{
	width: 100%;
}

#numeroAltEnd{
	display: none;
}
