TR {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
TD {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDJustificado {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
}
.TDDireita {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDDireitaVia {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDtitulo {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.TDCentro {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
.TDTituloCentro {
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
.TDBasePonto {
    background-color: #FFFFFF;
    border-bottom: 1px dashed #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}
div.break {
    page-break-before: always;
}
.TDEDTB {
    border-color: #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDET {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETB {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDE {
    border-left: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETitulo {
    border-left: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETTitulo {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDTEDTitulo {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDTDTitulo {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDD {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDED {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.TDEDTitulo {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.TDETD {
    background-color: #EFEFEF;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0 {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0A {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0B {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0C {
    border-left: 0px solid #000000;
	border-right: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	margin: 2px 5px 0px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0D {
    border-left: 0px solid #000000;
	border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	margin: 2px 5px 0px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0E {
    border-left: 0px solid #000000;
	border-right: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 11px;
	margin: 2px 5px 0px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE0F {
    border-left: 0px solid #000000;
	border-right: 0px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 11px;
	margin: 2px 5px 0px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE1 {
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE1A {
    border-top: 0 solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE2 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE3 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE4 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE4A {
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE4B {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE4C {
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE5 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE6 {
    border-left: 0 solid #000000;
    border-right: 0 solid #000000;
    border-top: 1px solid #000000;
}
.CLASSE6A {
    border-left: 0 solid #000000;
    border-right: 0 solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE6B {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 0 solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE6C {
    border-left: 0 solid #000000;
    border-right: 1px solid #000000;
    border-top: 0 solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE7 {
    border-right: 0 solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 5pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE8 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE8A {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE9 {
    border-right: 0 solid #000000;
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE10 {
    border-right: 1px solid #000000;
}
.CLASSE11 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE11A {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE12 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE13 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE14 {
    border-right: 0 solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE14A {
    border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 7pt;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
.CLASSE15 {
    color: #000000;
    font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
    font-size: 6pt;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
}

.tabCel
{
   BORDER-RIGHT: #ababab 1pt solid; 
   BORDER-TOP: white 1pt solid; 
   BORDER-LEFT: white 1pt solid; 
   BORDER-BOTTOM: #ababab 1pt solid;
   
   font-size: 12px;
}

.tabela
{ 
   border: 1px #9D9D9D solid; 
   background-color:#ffffff;
   font-size: 10px;
}

.th {
    color: #175987;
    width: 25%;
}

#complementoAltEnd{
	width: 16%;	
}

#checkBoxCpf{
	padding-top: 0px;
}

#colExterna{
	margin-left: 0px;
	margin-top: 5px;
}

#colExterna_hidden{
	margin-left: 0px;
	margin-top: 5px;
	display : none;
}

#colExterna_hidden2{
	margin-left: 0px;
	margin-top: 5px;
}

#containerComplemento{
	margin-left: 1px;
}

#valorPadrao1{
	width: 100%;
}

#valorPadrao2{
	width: 100%;
}

#valorPadrao3{
	width: 100%;
}

#complPadrao1{
	width: 100%;
}

#complPadrao2{
	width: 100%;
}

#complPadrao3{
	width: 100%;
}

#numeroAltEnd{
	display: none;
}